@inherits LayoutComponentBase

<div>
    <header class="site-header">
        <div class="site-header-inner">
            <img src="img/prizes.png" alt="Gifts"/>
            <NavLink href="/">
                <span class="site-title">Secret Santa</span>
            </NavLink>
            <img src="img/santa-skating.png" alt="Santa"/>
        </div>
    </header>

    <main>
        @Body
    </main>
</div>
