@page "/credits"
<div class="text-center">
    <h3 class="text-2lg font-bold">Credits</h3>
</div>
<ul>
    <li>
        <a target="_blank" class="underline text-blue-400" href="https://pixabay.com/illustrations/christmas-santa-claus-cute-hat-2931843">Santa Image</a>
        by <a target="_blank" class="underline text-blue-400" href="https://pixabay.com/users/artsybee-462611/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2931843">Oberholster Venita</a> from <a target="_blank" class="underline text-blue-400" href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2931843">Pixabay</a>
    </li>

    <li>
        <a target="_blank" class="underline text-blue-400" href="https://pixabay.com/illustrations/santa-claus-gifts-red-bag-2927962/">Prizes Image</a>
        Image by <a target="_blank" class="underline text-blue-400" href="https://pixabay.com/users/maciej326-1771256/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2927962">Monika Grafik</a> from <a target="_blank" class="underline text-blue-400" href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2927962">Pixabay</a>
    </li>
    
    <li>
            <a target="_blank" class="underline text-blue-400" href="https://www.iconarchive.com/show/xmas-people-icons-by-dapino/santa-icon.html/">Santa favicon</a>
        </li>
</ul>