@using SecretSanta.Domain
@using SecretSanta.Domain.State
@inject UserSantaEvents SantaEvents
@inject NavigationManager Navigation
@implements IDisposable
@page "/"

@foreach (var santaEvent in SantaEvents.Events.OrderBy(x => x.Archived))
{
    <div class="transition-all p-2 rounded-xl border border-red-500 hover:bg-red-500 cursor-pointer flex justify-evenly my-5" @onclick="() => Select(santaEvent)">
        <span>@santaEvent.Name 
            @if(santaEvent.Archived)
            {
                <b class='text-red-800'> (archived)</b>
            }
        </span>
    </div>
}

<NavLink href="NewEvent">
    <Button class="my-top-5">
        New Event
    </Button>
</NavLink>

@code {
    protected override void OnInitialized()
    {
        SantaEvents.SantaEventsChanged += OnSantaChanged;
        base.OnInitialized();
    }

    private void OnSantaChanged(object? sender, EventArgs e)
    {
        StateHasChanged();
    }
    
    public void Dispose()
    {
        SantaEvents.SantaEventsChanged -= OnSantaChanged;
    }

    private void Select(SecretSantaEvent santaEvent)
    {
        Navigation.NavigateTo($"/{santaEvent.Uid}/selected");
    }
}