@using SecretSanta.Domain
@using SecretSanta.Domain.State
@inject UserSantaEvents SantaEvents
@inject NavigationManager Navigation
@implements IDisposable
@page "/"

@foreach (var santaEvent in SantaEvents.Events)
{
    <div class="transition-all p-2 rounded-xl border border-red-500 hover:bg-red-500 cursor-pointer my-5 flex justify-evenly" @onclick="() => Select(santaEvent)">
        <span>@santaEvent.Name</span>
    </div>
}

<NavLink href="NewEvent">
    <Button>
        New Event
    </Button>
</NavLink>

@code {
    protected override void OnInitialized()
    {
        SantaEvents.SantaEventsChanged += OnSantaChanged;
        base.OnInitialized();
    }

    private void OnSantaChanged(object? sender, EventArgs e)
    {
        StateHasChanged();
    }
    
    public void Dispose()
    {
        SantaEvents.SantaEventsChanged -= OnSantaChanged;
    }

    private void Select(SecretSantaEvent santaEvent)
    {
        Navigation.NavigateTo($"/{santaEvent.Uid}/selected");
    }
}