@page "/{Uid}/WhoAmISecretSantaFor"
@using SecretSanta.Domain.State
@using SecretSanta.Domain

@inject UserSantaEvents SantaEvents

@if (SantaEvent == null || Opponent == null)
{
    <div>Sorry, could not find this event</div>
}
else
{
    <div class="text-center">
        <h3 class="text-2xl font-bold">@SantaEvent.Name</h3>
    </div>

    <h2 class="text-xl my-5">You should buy a present for <i><b>@Opponent.Name (@@@Opponent.TelegramLogin)</b></i></h2>
}

@code {
    [Parameter]
    public string Uid { get; set; }
    
    [CascadingParameter]
    public TelegramLogin Login { get; set; }


    SecretSantaEvent? SantaEvent => SantaEvents.Events.FirstOrDefault(e => e.Uid.Equals(Uid));
    
    SecretSantaMember? Opponent => SantaEvents.Events.FirstOrDefault(e => e.Uid.Equals(Uid))?.GetFor(Login.Login);
}